/*COLORS:
background: #96858F;
background: #6D7993;
background: #9099A2;
background: #D5D5D5;*/

.panel
{
  background-color: #D5D5D5;
  color: #000000;
  font-family: 'Poppins', sans-serif;
  padding: 5px;
  text-align: center;
}
.panel-login{
  width: 50%;
  margin: 0 auto;
  display: table;
}
.panel1{
  background: #e6e6e6;
  margin: 2%;
}
.logout{
  margin: 2%;
}
.login-head{
  width: 100%;
  margin: 0 auto;
  background: none;
  border: none;
}
input.ng-dirty.ng-invalid
{
  border: solid red 2px;
}
input.ng-dirty.ng-valid
{
  border: solid green 2px;
}
h1{
  font-size: 200%;
}
