<div class="alert alert-info">
  <p>
    <strong>Firebase Login</strong>
    I created this component so the app would have login functionality
    with Firebase. It is functional but I created this before I started learning Auth0.
    I'm glad that I learned how to build this login, in case someone finds
    it useful in the future.
  </p>
</div>

<div class="panel login-head">
  <h3 >Login with Firebase below!</h3>
</div>


<div class="panel panel-default panel-login">
  <div class="panel-body panel1">

  <button *ngIf="!auth0" (click)="show4 = !show4" class="">{{show4 ? 'Go Back' : 'Login'}}</button>
    <div *ngIf="show4" class="panel1">
      <div>
        <button  class="" (click)="loginFb()">Login with Facebook</button>
        <button  class="" (click)="show3 = !show3">{{show3 ? 'Go Back' : 'Login with Email'}}</button>
      </div>
      <form class="panel" *ngIf="show3" (ngSubmit)="login(form)" novalidate #form="ngForm">
        <div class="form-group">
          <label>Email</label>
          <input type="email" class="form-control" #emailField="ngModel"
          [(ngModel)]="email" name="email" required pattern=".+@.+" placeholder="Enter Email">
          <p *ngIf="emailField.touched && emailField.invalid"
            class="alert alert-danger">Please enter a valid email address</p>
        </div>
        <div class="form-group">
          <label>Password</label>
          <input type="password" class="form-control" #passwordField="ngModel"
          [(ngModel)]="password" name="password" required placeholder="Enter Password">
          <p *ngIf="passwordField.touched && passwordField.invalid"
            class="alert alert-danger">Please enter a valid password</p>
        </div>

        <div *ngIf="err" class="alert alert-danger">{{err}}</div>

        <button type="submit" class=""
        [disabled]="form.invalid">Login</button>
      </form>
    </div>

    <div *ngIf="!auth0" class="logout">
      <button class="" (click)="logout()">Logout</button>
    </div>
    <div *ngIf="auth0" class="logout">
      <p class="alert alert-danger">Cannot login with Firebase, logged in with Auth0.</p>
    </div>
    <div *ngIf="photoURL" class="panel panel-fb">
      <h1>Hello, {{ displayName }} you logged in using Facebook.</h1>
    </div>
    <div *ngIf="loggedIn && !photoURL" class="panel panel-fb">
        <h1 class="alert alert-success">You are logged in!</h1>
    </div>
 </div>
</div>
