<div>
  <div>
    <div class="head-cont">
      <h1>RESTful APIs</h1>
    </div>
    <p>This is test data pulled from <a href="https://jsonplaceholder.typicode.com">here</a></p>


    <div class="panel panel-body">
      <p>Test example data of 100 users</p>
      <div class="panel-cust">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>User Id</th>
              <th>Id</th>
              <th>title</th>
              <th>body</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let p of posts">
              <td>{{ p.userId }}</td>
              <td>{{ p.id }}</td>
              <td>{{ p.title }}</td>
              <td>{{ p.body }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
