<div class="panel1">
  <div class="head-cont">
    <h1>Machine Learning</h1>
  </div>

  <div class="info-cont">
    <p>Data collected from firebase database</p>
    <img id="firebase" class="img-responsive img-cust" src="../assets/firebase.svg" />
  </div>
  <div class="alert alert-danger">
    <p>This page is not yet complete! Adding more detailed information and models as time progresses. Now it's just text.</p>
  </div>

  <div class="panel panel-defaultf">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>#</th>
          <th>Type</th>
          <th>What?</th>
          <th>Graph</th>
        </tr>

      </thead>
      <tbody>
        <tr *ngFor="let p of properties; let i = index">
          <td>{{ i+1 }}</td>
          <td>{{ p.type }}</td>
          <td>{{ p.description }}</td>
          <td>Just a placeholder<img class="img-responsive img-cont" src="../assets/firebase.svg" /></td>
        </tr>
      </tbody>
    </table>
  </div>





</div>
