  /*COLORS:
  background: #96858F;
  background: #6D7993;
  background: #9099A2;
  background: #D5D5D5;*/
  .panel-body{
    background-color: #D5D5D5;
    width: 100%
  }
  .info-cont{
    display: inline-flex;
    color: #D5D5D5;
  }
  .img-cust{
    width: 2.5%;
    height: 2.5%;
    margin-left: 1%;
  }
  .head-cont{
    color: #D5D5D5;
    border-radius: 3px;
    margin-bottom: 1%;
    padding-right: 1%;
    padding-bottom: .1%;
    padding-top: 2%;
  }
