<div class="panel">
  <div class="panel panel-body">
    <h1>History</h1>
    <ul>
      <li>Born in New Orleans, Louisiana</li>
      <li>Moved to Baton Rouge in 2005 after Hurricane Katrina</li>
    </ul>
  </div>
  <div class="panel panel-body">
    <h1>Education</h1>
    <div class="panel panel-body">
      <h2>Highschool</h2>
      <ul>
        <li>2008-2012</li>
        <li>Catholic High School in Baton Rouge</li>
        <li>First introduced to Computer Science where we started building applications using Visual Basic </li>
      </ul>
      <h2>College</h2>
      <ul>
        <li>2012-2017</li>
        <li>Louisiana State University</li>
        <li>Received Bachelor's in Computer Science in 2017. During my time in collge, I also interned at GE</li>
      </ul>
    </div>

  </div>
  <div class="panel panel-body">
    <h1>Hobbies</h1>
    <ul>
      <li>Photography</li>
      <li>Guitar</li>
      <li>Producing music on Ableton</li>
      <li>Playing video games</li>
    </ul>
  </div>

</div>
