<div class="panel1">
  <h1>Tools</h1>
  <div class="panel panel-body">
    <div class="img-cont1">
      <a href="https://angular.io" class="icon-cust1">
        <div class="img-cont2">
          <img id="ang" class="img-responsive img-cont" src="../assets/angular-icon.svg" />
        </div>
      </a>
      <div class="text-box">
        <p>Angular is a front-end web application framework
          led by a team at Google. It was orginally called,
          AngularJS, but was rebranded after major changes were made.</p>
        <p>AngularJS focused on Controllers and Scope, </p>
        <p>Angular is a framework that is </p>
        <p>Angular is a framework that is </p>
      </div>
    </div>
  </div>

  <div class="panel-body">
    <div class="img-cont1 ">
        <a href="https://angular.io" class="icon-cust">
          <img id="ang" class="img-responsive img-cont" src="../assets/angular-icon.svg" />
          <p class="icon-name">Angular</p>
        </a>
        <div class="divider"></div>
        <a href="https://firebase.google.com" class="icon-cust">
          <img id="firebase" class="img-responsive img-cont" src="../assets/firebase.svg" />
          <p class="icon-name">Firebase</p>
        </a>
        <div class="divider"></div>
        <a href="https://www.npmjs.com" class="icon-cust">
          <img class="img-responsive img-cont" src="../assets/npm.svg" />
          <p class="icon-name">npm</p>
        </a>
        <div class="divider"></div>
        <a href="https://auth0.com" class="icon-cust">
          <img class="img-responsive img-cont" src="../assets/auth0.svg" />
          <p class="icon-name">Auth0</p>
        </a>
        <div class="divider"></div>
        <a href="https://www.typescriptlang.org" class="icon-cust">
          <img class="img-responsive img-cont" src="../assets/typescript-icon.svg" />
          <p class="icon-name">TypeScript</p>
        </a>
    </div>
  </div>

  <div class="panel panel-body">
    <h1>Languages</h1>
    <div class="panel panel-body">
      <ul>
        <li>HTML</li>
        <li>CSS</li>
        <li>JavaScript</li>
        <p>Typescript</p>
      </ul>
    </div>
  </div>
</div>
