<div class="panel1">
  <div class="head-cont">
    <h1>What am I using?</h1>
  </div>


  <div class="panel panel-body">
    <div class="img-cont1">
      <a href="https://www.typescriptlang.org" class="icon-cust1">
        <div>
          <img class="img-responsive img-cont" src="../assets/typescript-icon.svg" />
        </div>
      </a>
        <ul class="list-group text-box">
          <li class="list-group-item">TypeScript is an open-source programming language
             maintained by Microsoft. It is a decendent of the JavaScript language that
             allows for optional static typing. </li>
          <li class="list-group-item">
             It offers additional features to ECMAScript5 5 such as: Type annotations,
              compile-time checking, Type inference, Type Erasure, Interfaces, and more.

           </li>
        </ul>
    </div>
  </div>
  <div class="panel panel-body">
    <div class="img-cont1">
      <a href="https://angular.io" class="icon-cust1">
        <div>
          <img id="ang" class="img-responsive img-cont" src="../assets/angular-icon.svg" />
        </div>
      </a>
        <ul class="list-group text-box">
          <li class="list-group-item">Angular is a front-end web application framework
            led by a team at Google. It was orginally called,
            AngularJS, but was rebranded after major changes were made.</li>
          <li class="list-group-item">AngularJS focused on Controllers and Scope, is slower,
            and wasn't built with mobile support. </li>
          <li class="list-group-item">Angular is sometimes referred to as Angular2+. Angular
            was completely rewritten by the team at Google. It follows component-based UI
            and there are no more controllers and scope. Components replace controllers. It is faster,
             was built with mobile support, and is compatible with TypeScript, ES5, and ES6.  </li>
        </ul>
    </div>
  </div>
  <div class="panel panel-body">
    <div class="img-cont1">
      <a href="https://firebase.google.com" class="icon-cust1">
        <div>
          <img id="firebase" class="img-responsive img-cont" src="../assets/firebase.svg" />
        </div>
      </a>
        <ul class="list-group text-box">
          <li class="list-group-item">Firebase is a mobile and web application development
            platform acquired by Google in 2014. It offers anayltics, cloud messaging,
            authorization on the client side, real time database, hosting, testing lab for Android,
            crash reporting and many other services for free. </li>
            <li class="list-group-item">I am specifially using it for their NOSQL realtime data base and authorization service but
            I plan on using more of the services when I start learning mobile development.</li>
        </ul>
    </div>
  </div>
  <div class="panel panel-body">
    <div class="img-cont1">
      <a href="https://www.npmjs.com" class="icon-cust2">
        <div>
          <img class="img-responsive img-cont" src="../assets/npm.svg" />
        </div>
      </a>
        <ul class="list-group text-box">
          <li class="list-group-item">Npm is a package manager for JavaScript. It  is the default
             package manager for Node.js. Available packages can be found on the npm website.
             It is written entirely in JavaScript.</li>
          <li class="list-group-item">
            Npm can manage packages that are local dependencies of a single project, and also globally
            install JavaScript tools. Dependencies of a project are stored in the package.json file and
            dependencies can specify a version range to help avoid unwanted breakage. You can also tag your
            package with a particular version that you know works.
          </li>
        </ul>
    </div>
  </div>
  <div class="panel panel-body">
    <div class="img-cont1">
      <a href="https://auth0.com" class="icon-cust1">
        <div>
          <img class="img-responsive img-cont" src="../assets/auth0.svg" />
        </div>
      </a>
        <ul class="list-group text-box">
          <li class="list-group-item">Auth0 is a service created by developers that creates a standard for
            authorization and authentication. You can connect any application to Auth0 and define the identity
            providers you want to use.</li>
        </ul>
    </div>
  </div>
</div>
