<div class="panel">
  <div class="panel panel-body">
    <h1>Tools</h1>
    <ul>
      <li>NPM</li>
      <p>Used for downloading packages necessary for development</p>
      <li>Node</li>
    </ul>
  </div>
  <div class="panel panel-body">
    <h1>Languages</h1>
    <div class="panel panel-body">
      <ul>
        <li>HTML</li>
        <li>CSS</li>
        <li>JavaScript</li>
        <p>Typescript</p>
      </ul>
    </div>
  </div>
  <div class="panel panel-body">
    <h1>Other</h1>
    <div class="panel panel-body">
      <ul>
        <li>Adobe Illustrator</li>
        <li>Adobe Photoshop</li>
        <li>Update other stuff later</li>
      </ul>
    </div>
  </div>
</div>
