
  <ng-sidebar-container>
      <ng-sidebar [(opened)]="_opened"
        mode="over"
        [autoCollapseHeight]="_autoCollapseHeight"
        [autoCollapseWidth]="_autoCollapseWidth"
        [closeOnClickOutside]="_closeOnClickOutside"
        [closeOnClickBackdrop]="_closeOnClickBackdrop"
        [showBackdrop]="_showBackdrop"
        [animate]="_animate"
        [trapFocus]="_trapFocus"
        [autoFocus]="_autoFocus"
        [ariaLabel]="'My sidebar'"
        (onOpenStart)="_onOpenStart()"
        (onOpened)="_onOpened()"
        (onCloseStart)="_onCloseStart()"
        (onClosed)="_onClosed()">
        <div class="sidebar-cust">
          <div class="panel panel-default panel2">

            <button *ngIf="!loggedIn" [routerLink]= "['/login']">Login with Firebase</button>
            <button *ngIf="loggedIn" (click)="logout()">Logout with Firebase</button>
            <button
              class=""
              *ngIf="!auth.isAuthenticated()"
              (click)="auth.login()">
                Log In
            </button>
            <div class="divider"></div>
            <button
              class=""
              *ngIf="auth.isAuthenticated()"
              (click)="auth.logout()">
                Log Out
            </button>
            <div class="side-cont">
              <a [routerLink]= "['/home']">Home <span class="glyphicon glyphicon-home"></span></a>
              <a [routerLink]= "['/skills']">What am I using? <span class="glyphicon glyphicon-wrench"></span></a>
              <a [routerLink]= "['/posts']">Blog <span class="glyphicon glyphicon-file"></span></a>
              <a [routerLink]= "['/machine']">Machine Learning(Coming Soon!) <span class="glyphicon glyphicon-modal-window"></span></a>

            </div>

            <a closeSidebar>Close</a>
          </div>
          <!-- <button (click)="callApi()">Call API</button> -->
        </div>

      </ng-sidebar>

      <div ng-sidebar-content>
          <section>
          <nav class="navbar">
            <div class="navbar-header">
                <div class="login-head">
                  <div class="login-pic">
                    <logged-in></logged-in>
                  </div>
                  <a class=" header-name navbar-brand" href="#">Brian Tucker</a>
                </div>
                <div class="nav-group">
                        <div class="inner-group">
                            <span (click)="_toggleSidebar()" class="glyphicon glyphicon-menu-hamburger menu-bar"></span>
                          <div class="divider1"></div>
                        </div>
                </div>
            </div>
          </nav>
          </section>
          <section (click)="close()" class="side-content">
                <div class="alert alert-info">This site was made to act as an interactive resume.
                I am continuously adding features and learning new skills at the same time. You can log in
                using the sidebar login button with either Auth0 or Firebase.</div>
            <div class="panel panel1 panel-body">
                <router-outlet></router-outlet>
            </div>
          </section>
          <footer>
                <div class="foot-cust">
                  <label>Assembled with:</label>
                  <img id="ang" class="img-cont" src="../assets/angular-icon.svg" />
                </div>

          </footer>
      </div>
  </ng-sidebar-container>
