<div class="panel container-rel">
  <ng-sidebar-container>
      <ng-sidebar [(opened)]="_opened"
        mode="over"
        [autoCollapseHeight]="_autoCollapseHeight"
        [autoCollapseWidth]="_autoCollapseWidth"
        [closeOnClickOutside]="_closeOnClickOutside"
        [closeOnClickBackdrop]="_closeOnClickBackdrop"
        [showBackdrop]="_showBackdrop"
        [animate]="_animate"
        [trapFocus]="_trapFocus"
        [autoFocus]="_autoFocus"
        [ariaLabel]="'My sidebar'"
        (onOpenStart)="_onOpenStart()"
        (onOpened)="_onOpened()"
        (onCloseStart)="_onCloseStart()"
        (onClosed)="_onClosed()">
        <div class="sidebar-cust">
          <div class="panel panel-default panel2">
            <p>This is the sidebar, navigation links will go here</p>
            <p>Sidebar content</p>
            <a>What am I learning</a>
            <a>Who am I</a>
            <a>My interests</a>
            <a closeSidebar>Close</a>
          </div>
        </div>

      </ng-sidebar>

      <div ng-sidebar-content>
          <header class="cust-header">
            <div class="btn-cust">
              <button (click)="_toggleSidebar()"
                      class="cust-header__toggle btn btn-primary">Toggle sidebar</button>
              <span>Sidebar</span>
            </div>
          </header>

          <section class="side-content">
            <div class="panel panel1 panel-body">
                <login></login>
                <div class="panel panel-default">
                  <h1>Food Types</h1>
                  <select class="list-group">
                    <option class="list-group-item" *ngFor="let f of foods | async">{{ f.$value }}</option>
                  </select>
                </div>
                <div class="panel panel-default">
                  <h1>This is where I'm going to display what I've learned and what I am still learning. e.g. Angular framework, ES6 and TypeScript, etc.</h1>
                </div>
                <div class="panel panel-default">
                  <p>
                    Put 'blog' style post and retrieve submitted info from firebase.
                    Add an input box for logged in users so they can have the opportunity to make a post.
                  </p>
                </div>
            </div>
          </section>
      </div>
  </ng-sidebar-container>

  <!-- <div class="panel panel-default">
    <h1>Restaurant Options</h1>
    <ul class="list-group">
      <li class="list-group-item" *ngFor="let r of restaurants | async">
        {{ r.name }}
        <ul class="list-group">
          <li class="list-group-item" *ngFor="let f of r.featureTypes">
            {{ (f | async)?.$value }}
          </li>
        </ul>
      </li>
    </ul>
  </div> -->

</div>
