
  /*COLORS:
  background: #96858F;
  background: #6D7993;
  background: #9099A2;
  background: #D5D5D5;*/

a{
  display: block;
}
ng-sidebar-container{
  background-color: #9099A2;
  height: 100vh;
  position: absolute;
  z-index: 1;
}
.navbar{
  background: #6D7993;
  border-color: #6D7993;
  position: relative;
}
.nav-header{
  text-align: center;
  width: 100%;
}
.nav-group{
  padding-left: 1%;
  max-width: 100%;
  height: 100%;
}
.menu-bar{
  cursor: pointer;
}
.divider{
    display:inline-block;
    height:auto;
    width:5px;
}
.divider1{
    display:inline-block;
    height:auto;
    width: 15px;
}
.inner-group{
  display: inline-flex;
  margin: 2%;
}
.panel1{
  background-color: #6D7993;
  margin-top: 10px;
}
.panel-default
{
  background-color: #D5D5D5;
  color: #000000;
  font-family: 'Poppins', sans-serif;
  padding: 5px;
  text-align: center;
}
.container-rel{
  background-color: #D5D5D5;
  height: 100vh;
  position: relative;
  width: 100vw;
}
.sidebar-cust{
  background-color: #6D7993;
  height: 100vh;
  padding: 2em 1em;
}
.cust-header{
  align-items: center;
  background: #6D7993;
  color: #fff;
  display: flex;
  /*height: 5vw;*/
  padding: 1em;
  width: 100vw;
  position: relative;
}
.cust-header__toggle {
    background: #D5D5D5;
    border: 0.15rem solid #fff;
    border-left: 0;
    border-right: 0;
    cursor: pointer;
    font-size: 0;
    height: 3rem;
    margin-right: 1rem;
    top: 50%;
    width: 4rem;
    /*&::after {
      background: $white;
      content: '';
      height: 0.15rem;
      left: 0;
      margin-top: -0.075rem;
      position: absolute;
      top: 50%;
      width: 100%;
    }*/
  }
.side-content{
  padding: 0 2em;
}
.icon-bar{
  width: 27px;
  height: 3px;
  background-color: black;
  margin: 6px 0;
}
.header-name{
  position: absolute;
  right: 0;
  top: 0;
  color: #D5D5D5;
  margin-right: 8px;
}
.login-head{
  position: absolute;
  right: 0;
  height: 100%;
  width: 300px;
}
.login-pic{
  position: absolute;
  left: 0;
  margin-top: 2%;
  margin-left: 30%;
}
