
  <ng-sidebar-container>
      <ng-sidebar [(opened)]="_opened"
        mode="over"
        [autoCollapseHeight]="_autoCollapseHeight"
        [autoCollapseWidth]="_autoCollapseWidth"
        [closeOnClickOutside]="_closeOnClickOutside"
        [closeOnClickBackdrop]="_closeOnClickBackdrop"
        [showBackdrop]="_showBackdrop"
        [animate]="_animate"
        [trapFocus]="_trapFocus"
        [autoFocus]="_autoFocus"
        [ariaLabel]="'My sidebar'"
        (onOpenStart)="_onOpenStart()"
        (onOpened)="_onOpened()"
        (onCloseStart)="_onCloseStart()"
        (onClosed)="_onClosed()">
        <div class="sidebar-cust">
          <div class="panel panel-default panel2">

            <button *ngIf="!loggedIn" [routerLink]= "['/login']">Login with Firebase</button>
            <button *ngIf="loggedIn" (click)="logout()">Logout with Firebase</button>
            <button
              class=""
              *ngIf="!auth.isAuthenticated()"
              (click)="auth.login()">
                Log In
            </button>
            <div class="divider"></div>
            <button
              class=""
              *ngIf="auth.isAuthenticated()"
              (click)="auth.logout()">
                Log Out
            </button>
            <div class="side-cont">
              <a [routerLink]= "['/home']">Home <span class="glyphicon glyphicon-home"></span></a>
              <a [routerLink]= "['/skills']">What am I using? <span class="glyphicon glyphicon-wrench"></span></a>
              <a [routerLink]= "['/posts']">Blog <span class="glyphicon glyphicon-file"></span></a>
            </div>

            <a closeSidebar>Close</a>
          </div>
        </div>

      </ng-sidebar>

      <div ng-sidebar-content>
          <section>
          <nav class="navbar">
            <div class="navbar-header">
                <div class="login-head">
                  <div class="login-pic">
                    <logged-in></logged-in>
                  </div>
                  <a class=" header-name navbar-brand" href="#">Brian Tucker</a>
                </div>
              <div class="nav-group">

                      <div class="inner-group">
                        <div class="menu-bar" (click)="_toggleSidebar()">
                          <div class="icon-bar"></div>
                          <div class="icon-bar"></div>
                          <div class="icon-bar"></div>
                        </div>
                        <div class="divider1"></div>
                        <button
                          class="btn btn-sm"
                          routerLink="/">
                            <span class="glyphicon glyphicon-home"></span>Home
                        </button>
                        <div class="divider"></div>
                        <button
                          class="btn btn-sm"
                          *ngIf="!auth.isAuthenticated()"
                          (click)="auth.login()">
                            <span class="glyphicon glyphicon-log-in"></span>Log In
                        </button>
                        <div class="divider"></div>
                        <button
                          class="btn btn-sm"
                          *ngIf="auth.isAuthenticated()"
                          (click)="auth.logout()">
                            <span class="glyphicon glyphicon-log-out"></span>Log Out
                        </button>
                        <div class="divider"></div>
                        <button
                          id="fbLog"
                          class="btn btn-sm"
                          *ngIf="!loggedIn"
                          [routerLink]= "['/login']">
                            <span class="glyphicon glyphicon-log-in"></span>Firebase Login
                        </button>
                        <button
                          id="fbLog"
                          class="btn btn-sm"
                          *ngIf="loggedIn"
                          (click)="logout()"
                          [routerLink]= "['/home']">
                            <span class="glyphicon glyphicon-log-out"></span>Firebase Logout
                        </button>
                      </div>
                  </div>
              </div>
          </nav>
          </section>

          <section class="side-content">
            <div class="panel panel1 panel-body">
                <router-outlet></router-outlet>
            </div>
          </section>
      </div>
  </ng-sidebar-container>
