<div class="panel panel-default">
  <h1>Hello</h1>
  <h2>{{ displayName }}</h2>
  <img *ngIf="photoURL" src="{{ photoURL }}" alt="">
  <div class="panel-body">
    <div class="panel">
      <button  class="btn btn-primary" (click)="loginFb()">Facebook Login</button>
      <button  class="btn btn-primary" (click)="show3 = !show3">{{show3 ? 'Go Back' : 'Email Login'}}</button>
    </div>
    <div *ngIf="show3" class="panel">
      <label>Email</label>
      <input   class="form-control" type="email" name="email" placeholder="Enter Password">
      <label>Password</label>
      <input   class="form-control" type="password" name="password" placeholder="Enter Password">
    </div>
    <button class="btn btn-danger" (click)="logout()">Logout</button>
    <div class="panel">
      <label>will delete this button later</label>
      <button class="btn btn-info" (click)="console()">Console</button>
    </div>
    </div>
  <div>
    Don't have an account? Register below. Don't know if if matters though, because this isn't a real buisness
  </div>

  <div class="panel-body">
    <button (click)="show1 = !show1" class="btn btn-info">{{show1 ? 'Go Back' : 'Register'}}</button>
    <form class="panel" *ngIf="show1" (ngSubmit)="register(form)" novalidate #form="ngForm">
      <div class="form-group">
        <label>Email</label>
        <input type="email" class="form-control" #emailField="ngModel"
        [(ngModel)]="email" name="email" required pattern=".+@.+" placeholder="Enter Email">
        <p *ngIf="emailField.touched && emailField.invalid"
          class="alert alert-danger">Please enter a valid email address</p>
      </div>
      <div class="form-group">
        <label>Password</label>
        <input type="password" class="form-control" #passwordField="ngModel"
        [(ngModel)]="password" name="password" required placeholder="Enter Password">
        <p *ngIf="passwordField.touched && passwordField.invalid"
          class="alert alert-danger">Please enter a valid password</p>
      </div>
      <button type="submit" class="btn btn-info"
      [disabled]="form.invalid">Register</button>
    </form>
    <!-- <input type="password" name="" value="password validation"> -->

  </div>
</div>
