<div class="alert alert-danger" *ngIf="!loggedIn && !auth.isAuthenticated()">
  <strong>LOGIN ERROR</strong> You must be logged in to view content
</div>

<div *ngIf="loggedIn || auth.isAuthenticated()" class="panel panel-body">
  <div class="post-cont">
    <article *ngFor="let a of articles" class="article-cust">
          <div>
            <h1>{{ a.title }}</h1>
            <h3>{{ a.date }}</h3>
            <p>{{ a.post }}</p>
          </div>
    </article>
  </div>

  <form>
    <label>Blog Entry</label>
    <div class="input-group">
      <div class="input-cust" >
        <input #titleEntry type="text" placeholder="Enter title" />
        <input #dateEntry type="date" placeholder="Enter date" />
        <p #aId *ngFor="let a of articles">{{ a.id }}</p>
      </div>
      <textarea #postEntry class="form-control post-cust" type="text"> </textarea>
      <button class="btn-cust" (click)="submit(dateEntry.value, aId, postEntry.value, titleEntry.value)" type="submit">Submit</button>
    </div>


  </form>
</div>
