<div *ngIf="!loggedIn && !auth.isAuthenticated()" class="panel panel-body">
  <h2>You must be logged in to view content</h2>
</div>

<div *ngIf="loggedIn || auth.isAuthenticated()" class="panel panel-body">
  <div class="post-cont">
    <article *ngFor="let a of articles" class="article-cust">
          <div>
            <h1>{{ a.title }}</h1>
            <p>{{ a.post }}</p>
          </div>
    </article>
  </div>
  
  <form>
    <label>Blog Entry</label>
    <textarea #postEntry class="form-control input-cust" type="text"> </textarea>

    <button (click)="submit(postEntry.value)" type="submit">Submit</button>

  </form>
</div>
