<div *ngIf="!loggedIn && !auth.isAuthenticated()" class="panel panel-body">
  <h2>You must be logged in to view content</h2>
</div>

<div *ngIf="loggedIn || auth.isAuthenticated()" class="panel panel-body">
  <div class="post-cont">
    <article class="article-cust">
      <h1>This is where the date for the post will go.</h1>
      <p>Each article post will need to have a title, date,
         and post property. Retrieved from firebase. Personal notes, remove later.</p>
      <p>This is where the blog posts will go</p>
    </article>
  </div>
  <div>
    <textarea class="form-control input-cust" type="text" placeholder="Enter blog post"></textarea>
  </div>
</div>
