/* You can add global styles to this file, and also import other style files */
body{
  background-color: #9099A2;
  font-family: 'Poppins', sans-serif;
}
@media all and (max-width: 2000px) { /* screen size until 1200px */
    body {
        font-size: 22px; /* 1.5x default size */
    }
}
@media all and (max-width: 1800px) { /* screen size until 1200px */
    body {
        font-size: 20px; /* 1.5x default size */
    }
}
@media all and (max-width: 1600px) { /* screen size until 1200px */
    body {
        font-size: 18px; /* 1.5x default size */
    }
}
@media all and (max-width: 1400px) { /* screen size until 1200px */
    body {
        font-size: 16px; /* 1.5x default size */
    }
}
@media all and (max-width: 1200px) { /* screen size until 1200px */
    body {
        font-size: 14px; /* 1.5x default size */
    }
}
@media all and (max-width: 1000px) { /* screen size until 1000px */
    body {
        font-size: 12px; /* 1.2x default size */
        }
    }
@media all and (max-width: 700px) { /* screen size until 1000px */
  body {
      font-size: 10px; /* 1.2x default size */
      }
    }
@media all and (max-width: 500px) { /* screen size until 500px */
    body {
        font-size: 9px; /* 0.8x default size */
        }
    }
@media all and (max-width: 400px) { /* screen size until 500px */
    body {
        font-size: 8px; /* 0.8x default size */
        }
    }
