  /*COLORS:
  background: #96858F;
  background: #6D7993;
  background: #9099A2;
  background: #D5D5D5;*/
  .panel{
    background-color: #6D7993;
    text-align: center;
  }
  .panel-body{
    background-color: #D5D5D5;
  }
  h1 {
    /*margin: 15px 0px 5px 0px;*/
    border-bottom: 5px solid black;
    display: inline-block;
  }
  p{
    background: #fff;
    margin-right: 3%;
  }
  .info-cont{
    background: #000;
    display: block;
    border-radius: 1%;
    /*margin: 0 auto;*/
    width: 100%;
    height: auto;
    position: relative;
  }
  .img-cust{
    max-width: 25%;
    display: inline-block;
    height: auto;
    border-radius: 5%;
  }
  .text-cont{
    position: absolute;
    display: inline-block;
    max-width: 50%;
    top: 5%;
  }
