<div class="alert alert-danger" *ngIf="!auth.isAuthenticated() && !loggedIn">
  <strong>LOGIN ERROR</strong> You must be logged in to view content
</div>
<div *ngIf="loggedIn || auth.isAuthenticated()" class="panel">
  <div class="panel panel1 panel-body">
    <div class="info-cont">
      <div class="img-cust">
        <img class="img-responsive" src="../assets/dark-portrait.jpg"/>
      </div>
      <div class="text-cont">
        <div class="p1">
          <p>Hi my name is Brian. I am a recent grad from Louisiana State University.</p>
        </div>
        <div class="p1">
          <p>I graduated with a bachelors in Computer Science and am currently focusing my time on improving as a front-end developer.</p>
        </div>
      </div>
    </div>
  </div>
  <div class="panel panel1 panel-body">
    <div class="panel-cust">
      <h3>In my freetime,</h3>
      <div>
        <p class="p1">I like to work on web applications getting familar with the TypeScript and ES6 conventions.</p>
      </div>
      <h3>I'm using</h3>
      <div>
        <p class="p1">I'm using Angular for this site, firebase for the db, and firebase & auth0 for authentication & authorization.</p>
        <p class="p1">I like to take photos, play/produce music, exercise, and play video games. </p>
      </div>
    </div>
  </div>
  <div class="panel panel1 panel-body">
    <div class="panel-cust">
      <h3>For fun</h3>
      <div>
        <p class="p1">I like to take photos, play/produce music, exercise, and play video games. </p>
      </div>
    </div>
  </div>
  <div class="panel panel1 panel-body">
    <div class="info-cont">
      <div class="img-cust1">
        <img class="img-responsive" src="../assets/blood-moon.jpg"/>
      </div>
      <div class="text-cont">
        <div class="p2">
          <p>In my freetime, I dabble in photography.</p>
        </div>
        <div class="p2">
          <p>Here's a photo I took of the blood moon in 2015.</p>
        </div>
      </div>
    </div>
  </div>

</div>
