<div class="panel-49">
  <div class="panel panel-body">
    <div class="info-cont">
      <div class="img-cust">
        <img class="img-responsive" src="../assets/pics/dark-portrait.jpg"/>
      </div>
      <div class="text-cont">
        <div class="p1">
          <p>Hi my name is Brian, I am from New Orleans, Louisiana.</p>
          <p>I graduated from LSU with a bachelor's in Computer Science. I am currently focusing my time on improving as a front-end developer.</p>
        </div>
      </div>
    </div>
  </div>
  <div>
    <div>
      <div class="p11 text-cont2">
        <p>Hi my name is Brian, I am from New Orleans, Louisiana.</p>
        <p>I graduated from LSU with a bachelor's in Computer Science. I am currently focusing my time on improving as a front-end developer.</p>
      </div>
    </div>
  </div>
  <div class="panel panel-body">
    <div class="info-cont">
      <div class="img-cust1">
        <img class="img-responsive" src="../assets/pics/blood-moon.jpg"/>
      </div>
      <div class="text-cont">
        <div class="p2">
          <p>For fun, I like to produce music in Ableton Live 9, take photos, hike/exercise/run, and play video games. </p>
          <p>This is a photo I took of the Super Blood Moon in 2015 using my Canon T5i.</p>
        </div>
      </div>
    </div>
  </div>
  <div>
    <div class="p11 text-cont2">
      <p>For fun, I like to produce music in Ableton Live 9, take photos, hike/exercise/run, and play video games. </p>
      <p>This is a photo I took of the Super Blood Moon in 2015 using my Canon T5i.</p>
    </div>
  </div>
  <!-- <div class="panel panel1 panel-body">
    <div class="info-cont">
      <div class="img-cust1">
        <img id='mid' class="img-responsive" src="../assets/middleton.jpg"/>
      </div>
      <div class="text-cont1">
        <div class="p3">
          <p>A friend and I took this photo in front of LSU's middleton library. It was a very cloudy day.</p>
        </div>
      </div>
    </div>
  </div>
  <div class="text-cont2">
    <div class="p3">
      <p>A friend and I took this photo in front of LSU's middleton library. It was a very cloudy day.</p>
    </div>
  </div> -->

</div>
