<div class="alert alert-danger" *ngIf="!auth.isAuthenticated() && !loggedIn">
  <strong>LOGIN ERROR</strong> You must be logged in to view content
</div>
<div *ngIf="loggedIn || auth.isAuthenticated()" class="panel">
  <div class="panel panel-body">
    <div class="info-cont">
      <div class="img-cust">
        <img class="img-responsive" src="../assets/dark-portrait.jpg"/>
      </div>
      <div class="text-cont">
        <p>Hi my name is Brian. I am a recent grad from Louisiana State University.</p>
        <p>I graduated with a bachelors in Computer Science and am currently focusing my time on becoming a front-end developer.</p>
      </div>
    </div>
  </div>
  <div class="panel panel-body">
    <div class="info-cont">
      <div>
        <img class="img-responsive" src="../assets/blood-moon.jpg"/>
      </div>
      <div class="text-cont">
        <p>In my freetime, I dabble in photography.</p>
      </div>
    </div>
  </div>

</div>
