  /*COLORS:
  background: #96858F;
  background: #6D7993;
  background: #9099A2;
  background: #D5D5D5;*/
  .panel1{
    background-color: #6D7993;
    /*text-align: center;*/
  }
  .panel-body{
    background-color: #D5D5D5;
    width: 100%
  }
  .p1{
      background: #D5D5D5;
      margin-right: 3%;
      padding-left: 2%;
      padding-top: 1.5%;
      padding-bottom: 1px;
      border-radius: 5px;
  }
  .p11{
      background: #D5D5D5;
      margin-right: 3%;
      padding-left: 1%;
      border-radius: 5px;
      width: 100%;
  }
  .p2{
      background: #D5D5D5;
      margin-right: 4%;
      padding-left: 2%;
      padding-top: 1.5%;
      padding-bottom: 1px;
      border-radius: 5px;

  }
  .p3{
      background: #6D7993;
      color: #fff;
      margin-right: 4%;
      padding-left: 2%;
      border-radius: 5px;
      width: 100%;
  }
  .panel-cust{
    background: #e6e6e6;
    padding: 2%;
    border-radius: 5px;
  }
  .info-cont{
    background: #000;
    /*margin: 0 auto;*/
    border-radius: 5px;
    position: relative;
  }
  .img-cust{
    max-width: 25%;
    height: auto;
    border-radius: 5%;
    padding-left: 10px;
  }
  .img-cust1{
    max-width: 100%;
    height: auto;
  }
  .img-responsive{
    border-radius: .5%;
  }
  .text-cont{
    position: absolute;
    font-weight: bold;
    top: 0;
    right: 0;
    max-width: 50%;
    margin-top: 1%;
  }
  .text-cont1{
    position: absolute;
    font-weight: bold;
    bottom: 0;
    right: 10%;
    max-width: 35%;
    margin-top: 1%;
  }
  #mid {
    display: block;
    margin: 0 auto;
  }
  @media all and (max-width: 2000px) { /* screen size until 1200px */
      .text-cont{
        max-width: 50%;
      }
      .text-cont2{
        display: none;
      }
  }
  @media all and (max-width: 1200px) { /* screen size until 1200px */
      .text-cont{
        max-width: 50%;
      }
      .text-cont2{
        display: none;
      }
  }
  @media all and (max-width: 1000px) { /* screen size until 1000px */
    .text-cont{
      max-width: 50%;
    }
    .text-cont2{
      display: none;
    }
      }
  @media all and (max-width: 700px) { /* screen size until 700px */
    .text-cont{
      max-width: 50%;
      display: none;
    }
    .text-cont1{
      display: none;
    }
    .text-cont2{
      display: block;
    }
      }
  @media all and (max-width: 500px) { /* screen size until 500px */
    .text-cont{
      max-width: 40%;
      display: none;
    }
    .text-cont1{
      display: none;
    }
      }
